<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- navbar navbar-dark bg-primary -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">TODO APP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Write</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <!-- todo list : get from server -->
    <h4 class="ml-2 my-3">TODO List</h4>
    <!-- <% for (const todo of todos) { %>
    <h4><%= todo.title %></h4>
    <p><%= todo.date %></p>
    <button>delete</button>
    <% } %> -->

    <ul class="list-group">
      <% for (const todo of todos) { %>
      <li class="list-group-item" data-id="<%= todo._id %>">
        <div>
          <p>No : <%= todo._id %></p>
          <h4><%= todo.title %></h4>
          <p><%= todo.date %></p>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-dark btn-delete"
            data-id="<%= todo._id %>"
          >
            Delete
          </button>
        </div>
      </li>
      <% } %>
    </ul>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      document.querySelector(".list-group").addEventListener("click", (e) => {
        if (e.target.classList.contains("btn-delete")) {
          const todoId = e.target.closest("li").dataset.id;
          $.ajax({
            method: "DELETE",
            url: "/delete",
            data: { _id: todoId },
          })
            .done((result) => {
              document
                .querySelector(".list-group")
                .removeChild(e.target.closest("li"));
            })
            .fail((err) => {});
        }
      });
    </script>
  </body>
</html>
